h1
{
    color: yellow;
    font-style: strong;
}
p
{
    color:firebrick;
}
h2
{
    color:gold;
}
h3
{
    color: orange;
}
ol
{
  color:palegreen;
  list-style-type: lower-roman;
}
nav
{
   background-color: darkred;
   line-height: 230%;
   display: block; 
}
nav li
{
    display: inline;
    padding-right: 58px;
    list-style-type: none;
    color:lime 
}
nav a:link
{
    text-decoration: none;
    color:lime  
}
nav a:visited
{
    color:lime
}
nav a:hover
{
    color:silver;
    text-decoration: underline;
}
nav a:active
{
    color: darkgreen;
    text-decoration: underline;
}
.vl {
  border-left: 8px solid yellow;
  height: 445px;
  position: absolute;
  left: 23%;
  margin-left: -3px;
  top: 0;
}